.root {
  --button-size: 16px;
  --default-color: rgb(179, 179, 179);

  width: var(--button-size);
  height: var(--button-size);
  border-radius: 5px;
  background: transparent;
  position: relative;
  place-items: center;
  border: none;
  color: var(--default-color);
  border-radius: 50%;
  cursor: pointer;
}

.root:hover {
  --default-color: #fff;
}

.ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid rgba(33, 210, 92, 0.3);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.confetti-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  inset: 50%;
  transform: translate(-50%, -50%);
}

.confetti-wrapper svg {
  grid-area: 1 / 1;
}
