#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.card {
  background-color: #000;
  display: flex;
  color: #fff;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  padding-right: 20px;
}

.cover-wrapper {
  width: 56px;
  height: 56px;
}

.cover-wrapper img {
  width: 100%;
  object-fit: cover;
  display: inline-block;
}

.meta {
  margin-right: 30px;
}

h1 {
  font-size: 14px;
  font-weight: 400;
}

p {
  font-size: 12px;
  font-weight: 400;
  color: rgb(179, 179, 179);
}
